<ul *ngFor="let task of tasks">
  <li [ngStyle]="{display: task.accountStatuse !=='SUBMITTED' && task.accountStatuse !=='READY' ? 'block' : 'none'}">{{task.id + ' ' + task.accountStatuse}}
    <button (click)="preparing(task.id)" [ngStyle]="{display: task.accountStatuse !=='PREPARING' ? 'block' : 'none'}">PREPARING
    </button>
    <button (click)="ready(task.id)">READY
    </button>

    <ul *ngFor="let dish of dishService.toDishMap(task.dishList) | keyvalue">
      <li [textContent]="dish.value + ' ' + dish.key.title + ' ' + dish.key.about"></li>

    </ul>
  </li>

</ul>
