<div>
  <button (click)="showAddFormDish=!showAddFormDish" [textContent]="showAddFormDish ? 'Close dish form' : 'Add dish'"
          class="btn btn-secondary btn-lg btn-block"></button>
  <form #dishForm="ngForm" (ngSubmit)="addDish(dishForm)" [ngStyle]="{display: showAddFormDish ? 'block' : 'none'}">
    <label>Title<input type="text" name="title" ngModel></label>
    <label>About<input type="text" name="about" ngModel></label>
    <label>Prise<input type="number" name="coast" ngModel></label>
    <label>Image<input type="file" name="image" ngModel (change)="setImage($event)"></label>
    <label>Entree<input type="checkbox" name="entree" ngModel></label>
    <label>Category:<select name="categoryName" ngModel>
      <option *ngFor="let c of categoryes" value="{{c.categoryName}}">{{c.categoryName}}</option>
    </select></label>
    <button type="submit">Submit</button>
  </form>

</div>

<div class="row" *ngFor="let category of categoryes">
  <div class="ln-100">
    <div class="thumbnail">
      <div class="caption">
        <h3>
          #{{category.id}}
          <img
            [src]="dishService.imgPath+category.categoryName+'/'+category.categoryImage">
          {{category.categoryName + ' (' + category.dishes.length + ')'}}
          <button type="button" class="btn btn-link" (click)="showMeThis(category)"
                  [textContent]="category.show ? 'Hide' : 'Show'"></button>
          <hr>
        </h3>


        <ul *ngFor="let dish of category.dishes" [ngStyle]="{display: category.show ? 'block' : 'none'}">
          <li>
            <div>
              <h5>

                <img [src]="dish.entree ? 'https://img.icons8.com/color/48/000000/checked.png'
                : 'https://img.icons8.com/color/48/000000/cancel.png'" (click)="changeDishStatus(dish)" id="status">
                <input type="file" accept="image/*" #file class="hideFileInp" (change)="setImage($event)">


                <img [src]="dishService.imgPath+category.categoryName+'/'+dish.image"
                     (click)="file.click()"
                     >

              #{{dish.id + ' ' + dish.title + ' '}}
                  {{dish.about+' '+dish.coast}}

                <img src="https://img.icons8.com/color/48/000000/edit.png" (click)="showChangeForm(dish, category.categoryName , updateDishForm)" class="updateIcon">
                <img src="https://img.icons8.com/color/48/000000/delete-sign.png" (click)="deleteDish(dish.id)" class="updateIcon">

                <div [ngStyle]="{display: dish.show ? 'block' : 'none'}">
                  <form #updateDishForm="ngForm" (ngSubmit)="updateDish(updateDishForm); dish.show=false">
                    <label>Title<input type="text" name="title" ngModel></label>
                    <label>About<input type="text" name="about" ngModel></label>
                    <label>Prise<input type="number" name="coast" ngModel></label>
                                <input type="hidden" name="id" ngModel>
                    <label>Category:<select name="categoryName1" ngModel>
                      <option *ngFor="let c of categoryes" value="{{c.categoryName}}">{{c.categoryName}}</option>
                    </select></label>

                    <button type="submit">Update this Dish</button>
                  </form>
                </div>

                <hr>
              </h5>
            </div>
          </li>
        </ul>


      </div>
    </div>
  </div>
</div>

<div>
  <app-add-categiory [ngStyle]="{display: showAdFormB ? 'block' : 'none'}"
                     style="text-align: center"></app-add-categiory>
  <button (click)="showAddForm()" [textContent]="showAdFormB ? 'Close category form' : 'Add category'"
          class="btn btn-secondary btn-lg btn-block"></button>
</div>


