<table class="table">
  <thead class="thead-inverse">
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Account Status</th>
    <th>Position</th>
  </tr>
  </thead>
  <tbody *ngFor="let ac of accounts | paginate: {itemsPerPage:20, currentPage:page}">

  <tr>
    <th scope="row">{{ac.id}}</th>
    <td>{{ac.date}}</td>
    <td>{{ac.accountStatuse}}</td>
    <td>
      <ul *ngFor="let dish of dishService.toDishMap(ac.dishList) | keyvalue">
        <li>{{dish.value+' x '+ dish.key.title}}</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="page=$event"></pagination-controls>
