<ul
  class="list-group"
  *ngFor="let category of categoryes">

  <li
    class="list-group-item"
    (click)="showDishes(category)">
    <img
      [src]="path+category.categoryName+'/'+category.categoryImage" alt="{{category.categoryImage}}"
      class="categotyIcon">
    <a
      class="align-bottom fs-30">{{category.categoryName}}</a>

  </li>
  <ul
    *ngFor="let dish of category.dishes"
    [ngStyle]="{display: category.show ? 'block' : 'none'}">
    <li>{{dish.title + ' ' + dish.about + ' ' + dish.entree + ' '}}

      <button (click)="addInBascet(dish)"
      >Get for {{dish.coast + ' ugn'}} </button>
    </li>
  </ul>
</ul>


