<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Restaurant executive suite</a>
  <div class="form-inline">
    <form #surchForm="ngForm"  (ngSubmit)="sendSurchForm(surchForm)">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="surchWord"
             ngModel>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <img src="https://img.icons8.com/metro/26/000000/search.png">
      </button>
    </form>
    <button class="btn btn-outline-success my-2 my-sm-0 ml-2 ">
      <img src="https://img.icons8.com/metro/26/000000/undo.png">
    </button>

    <button class="btn btn-outline-success my-2 my-sm-0 ml-2">
      <img src="https://img.icons8.com/metro/26/000000/shopping-cart.png">
    </button>
  </div>
</nav>


<ul class="list-group" *ngFor="let category of categoryes">
    <li class="list-group-item" (click)="showDishes(category)">
      <img [src]="path+category.categoryName+'/'+category.categoryImage" alt="{{category.categoryImage}}"
        class="categotyIcon">
      <a class="align-bottom fs-30">{{category.categoryName}}</a>

    </li>
  <ul *ngFor="let dish of dishess" [ngStyle]="{display: !sowThisCategory ? 'none' : 'block'}">
    <li>{{dish.title+' '+dish.about}}</li>
  </ul>
</ul>


