<ul
  class="list-group"
  *ngFor="let category of categoryes">
  <li
    class="list-group-item hov"
    (click)="showDishes(category)">
    <img
      [src]="dishService.imgPath+category.categoryName+'/'+category.categoryImage" alt="{{category.categoryImage}}"
      class="categotyIcon">
    <span
      class="align-bottom fs-30">{{category.categoryName + ' (' + category.dishes.length + ')'}}</span>
    <img [src]="category.show ? 'https://img.icons8.com/color/48/000000/circled-chevron-up.png'
    : 'https://img.icons8.com/color/48/000000/circled-chevron-down.png'">
  </li>

  <div *ngFor="let dish of category.dishes" [ngStyle]="{display: category.show ? 'block' : 'none'}" id="dishWindow">
    <img src="https://img.icons8.com/color/48/000000/plus.png" (click)="addInBascet(dish)" id="addBtn" title="+1">
    <img [src]="dishService.imgPath+category.categoryName+'/'+dish.image" class="categotyIcon" title="{{dish.about}}">
    <b>{{dish.title+' - '}}</b>
    <span class="img-thumbnail  bg-secondary text-white" [textContent]="dish.coast+' ugn'"></span>
    <hr>
  </div>
</ul>

