#addBtn{
  margin: 10px;
}

#addBtn:hover{
  box-shadow: inset 0 0 0 10px gray;
  border-radius: 50%;
}
#dishWindow{
  margin: 10px;
}
.dishIcon {
  margin-left: 20px;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  margin-right: 14px;
}

.categotyIcon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 14px;
}

li {
  list-style-type: none
}
