<ul *ngFor="let account of accounts">
  <li [ngStyle]="{display: account.accountStatuse !=='ORDERED' && account.accountStatuse !=='PREPARING' ? 'block' : 'none'}" >{{account.id + ' ' + account.accountStatuse}}
    <button (click)="submit(account.id)" [ngStyle]="{display: account.accountStatuse !=='SUBMITTED' ? 'block' : 'none'}">
      Submitted
    </button>
    <button (click)="pay(account.id)">Pay</button>
    <ul *ngFor="let dish of account.dishList">
      <li>
        {{dish.title + ' ' + dish.coast}}
      </li>
    </ul>
  </li>
</ul>

